
input[type=checkbox]{display: none;}
label { 

    -pie-background: linear-gradient(top,  #f9f9f9 0%, #c7c6c2 100%);
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #c7c6c2 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#c7c6c2));
	background: -webkit-linear-gradient(top,  #f9f9f9 0%, #c7c6c2 100%);
	background: -o-linear-gradient(top,  #f9f9f9 0%, #c7c6c2 100%);
	background: -ms-linear-gradient(top,  #f9f9f9 0%, #c7c6c2 100%);
	display: inline-block; 
	width: 20px; 
	height: 20px;
	color: #646462;
	cursor: pointer; 
	font-family:Arial;
	font-size:10px;
	border-color:#c0bcb9;
	border-radius:5px;
	text-align:center;
	line-height:2;
	font-weight:bold;
	border: 1px double #c0bcb9;
	behavior:url(layer-view-script/common/PIE/PIE.htc);	
}
.colorChecked { background: #0788c9; -pie-background: #0788c9;  color:#FFF ; border: 1px solid #0788c9; 
behavior:url(layer-view-script/common/PIE/PIE.htc);}