.separate-bottun {
    padding: 1px;
}

.attribute-texarea {
    background: #FFF;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    resize: none;
    overflow: hidden;
    height: 38px;
    padding: 7px;
    width: 110px;
    font-size: 10px;
    font-family: Arial;
    color: #818181;
    behavior: url(layer-view-script/common/PIE/PIE.htc);
}

.attribute-button {
    background: #e9e6ed;
    border: 1px solid #e9e6ed;
    height: 15px;
    width: 124px;
    cursor: pointer;
}

.attribute-button:hover {
    background: #d6d0dd;
    border: 1px solid #d6d0dd;
    height: 15px;
    width: 124px;
    cursor: pointer;
}

.linear {
    float: left;
}

.separate-textarea-bottuns {
    padding: 59px 0px 0px 0px;
}

.separate-textarea-number {
    margin-top: 5px;
    padding-left: 142px;
}

.icon { padding: 4px 6px 5px 5px }

.height-div { height: 59px }

.text-play {
    -pie-background: linear-gradient(right, #007CB6 95%, #0E8BC9 100%, #007CB6 100%);
    background-image: -o-linear-gradient(right, #007CB6 95%, #0E8BC9 100%, #007CB6 100%);
    background-image: -moz-linear-gradient(right, #007CB6 95%, #0E8BC9 100%, #007CB6 100%);
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0.95, #007CB6), color-stop(1, #0E8BC9), color-stop(1, #007CB6));
    background-image: -webkit-linear-gradient(right, #007CB6 95%, #0E8BC9 100%, #007CB6 100%);
    background: -ms-linear-gradient(right, #007CB6 95%, #0E8BC9 100%, #007CB6 100%);
    border-radius: 5px 5px 0px 0px;
    border-color: #007bb6;
    height: 18px;
    width: 279px;
    text-align: center;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #FFF;
    padding: 4px 0px 0px 0px;
    behavior: url(layer-view-script/common/PIE/PIE.htc);
}

.number-textarea-button {
    /*padding: 5px 0px 0px 0px;*/
    padding: 0 0 8px 0;*/
    border-top: 0;
    border-left: 2px dotted #e0e0e0;
    border-right: 2px dotted #e0e0e0;
    border-bottom: 2px dotted #e0e0e0;
    /*border-style: dotted;
    border-color: #e0e0e0;*/
    width: 275px;
    /*height: 198px;*/
    /*padding-top: 0px*/
}

.margin {
    height: 25px;
    padding-left: 5px;
    position: relative
}

.text-number {
    color: #818181;
    font-family: arial;
    font-size: 11px;
    padding-left: 7px;
}

.text-number-marcado {
    color: #818181;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
}

.container {
    padding: 5px 0 0;
}

.check_ {
    margin-left: 0;
    margin-right: -1px;
}

.text {
    color: #7d6995;
    font-size: 10px;
    font-weight: bold;
    vertical-align: top
}

.left {
    float: left;
}

.right {
    padding-left: 287px;
}

.flecha_next {
    background-image: url(../../../layer-view-image/game/ganadiario/btn_jugada_sgte_off.png);
    height: 22px;
    width: 25px;
    cursor: pointer;
}

.flecha_next:hover {
    background-image: url(../../../layer-view-image/game/ganadiario/btn_jugada_sgte_on.png);
    height: 22px;
    width: 25px;
    cursor: pointer;
}

.right_flecha {/*position:absolute;right:6px;*/float:left;margin:0 0 0 6px;}

.play_go_1_2_gd {
    background-image: url(../../../layer-view-image/game/ganadiario/ir_jugada_ayb.gif);
    width: 21px;
    height: 115px;
    margin: 4.5px 3px;
}

.flecha_back {
    background-image: url(../../../layer-view-image/game/ganadiario/btn_jugada_antes_off.png);
    height: 22px;
    width: 25px;
    cursor: pointer;
}

.flecha_back:hover {
    background-image: url(../../../layer-view-image/game/ganadiario/btn_jugada_antes_on.png);
    height: 22px;
    width: 25px;
    cursor: pointer;
}

.play_go_3_4_gd {
    background-image: url(../../../layer-view-image/game/ganadiario/ir_jugada_cyd.gif);
    width: 21px;
    height: 115px;
    margin: 4.5px 3px;
}
/*
.button-buy-off{
    background-image:url(../../../layer-view-image/common/buy-off.png); 
    border:0px solid #999; 
    cursor:pointer; 
    width:109px;
    height:30px;
    border-radius: 8px;
}
.button-buy-off:hover{
    background-image:url(../../../layer-view-image/common/buy-on.png);
    border:0px solid #999; 
    cursor:pointer; 
    height:30px;
    width:109px;
    border-radius: 6px;
}
*/
.text-distance {
    padding-left: 442px;
}

.gana_diario {
    background: url("../../../layer-view-image/game/ganadiario/banner_ganadiario.png") no-repeat top left;
    border-radius: 0 0 6px 6px;
    float: left;
    margin-left: 32px;
    width: 614px;
    behavior: url(layer-view-script/common/PIE/PIE.htc);
}

.color-text {
    float: left;
    font-size: 11px;
    font-family: arial;
    color: #000000;
    width: 420px;
}

.bold-type {
    font-weight: bold;
}

.center {
    padding: 13px 15px;
}

.font { /*** george.minaya ***/
    background: none repeat scroll 0% 0% rgb(217, 217, 217);
    width: 595px;
    height: 56px;
    position: absolute; /* new */
    top: 336px; /* new*/
    border-radius: 6px;
    behavior: url(layer-view-script/common/PIE/PIE.htc)
}

/***premios***/
.font-award { /*** george.minaya ***/
    background: none repeat scroll 0% 0% rgb(217, 217, 217);
    width: 595px;
    height: 82px;
    position: absolute; /* new */
    top: 275px; /* new*/
    border-radius: 6px;
    behavior: url(layer-view-script/common/PIE/PIE.htc)
}

.column_free {
    position: absolute;
    left: 145px;
    top: 4px;
}

.result_purchase .label_bet_free {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: 10px;
    left: 10px;
    font-family: Arial;
}

.result_purchase .result_bet_free {
    font-family: Arial;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    top: 10px;
    left: 181px;
    text-align: right;
    width: 50px;
    direction: rtl;
}

.result_purchase .label_play_pendiente {
    position: absolute;
    font-size: 12px;
    top: 35px;
    left: 10px;
    font-family: Arial;
}

.result_purchase .result_play_pendiente {
    font-family: Arial;
    position: absolute;
    font-size: 12px;
    top: 35px;
    left: 181px;
    text-align: right;
    width: 50px;
    direction: rtl;
}

.result_purchase .label_balance {
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: 60px;
    left: 10px;
    font-family: Arial;
}

.result_purchase .result_balance {
    font-family: Arial;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    top: 60px;
    left: 181px;
    text-align: right;
    width: 50px;
    direction: rtl;
}
/*****/
.font-play {
    background-color: #ffffff;
    border-radius: 0 6px 6px 6px;
    margin-top: 4px;
    min-height: 379px;
    padding: 18px 0 10px 10px;
    position: relative;
    width: 605px;
    /*z-index: 1;*/
    /*behavior: url(layer-view-script/common/PIE/PIE.htc)*/
}

.font-play-total {  
}

/*******/
/*imagen de paso*/
.transition-one {
    background: #FFF url(../../../layer-view-image/game/ganadiario/transition-one.png) no-repeat 7px;
    width: 342px;
    height: 23px;
    border-radius: 5px 5px 0px 0px;
    padding-right: 7px;
    padding-top: 5px;
    margin-top: 65px;
    padding-bottom: 5px;
    behavior: url(layer-view-script/common/PIE/PIE.htc);
}

.transition-two {
    background: #FFF url(../../../layer-view-image/game/ganadiario/transition-two.png) no-repeat 7px;
    width: 342px;
    height: 23px;
    border-radius: 5px 5px 0px 0px;
    padding-right: 7px;
    padding-top: 5px;
    margin-top: 65px;
    padding-bottom: 5px;
    behavior: url(layer-view-script/common/PIE/PIE.htc);    
}

/*style de combobox*/
div.selectBox {
    position: relative;
    width: 134px;
    height: 18px;
    border: 1px solid #949494;
    background: #e4e4e2 url(../../../layer-view-image/common/flecha-combo.png) no-repeat 120px 8px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 10px;
    top: -2px;
    behavior: url(layer-view-script/common/PIE/PIE.htc);
}

div.selectBox div.box {
    position: absolute;
    left: 6px;
    top: 1px;
    width: 124px;
    height: 18px;
    line-height: 17px;
    font-family: arial;
    font-size: 10px;
    color: #4e4e4d;
    overflow: hidden;
}

div.selectBox select {
    background: #e4e4e2;
    width: 124px;
    height: 18px;
    font-size: 10px;
    border: 1px solid #949494;
    opacity: 0;
    filter: alpha(Opacity = 0);
    -moz-opacity: 0;
    cursor: pointer;
    font-size: 10px;
    z-index: 1;
}

div.selectBox select option {
    font-size: 10px;
    color: #4e4e4d;
    border-bottom: 1px solid #e4e4e2;
    cursor: pointer;
}

div.selectBox select option.ultimo {
    border-bottom: 0px none;
}

#help{
    background:url(../../../layer-view-image/common/ayuda.png);
    cursor: pointer;
    height: 30px;
    margin-left: 550px;
    margin-top: -35px;
    width: 60px;
    display: block;
    }
#help:hover{
    background-position: 0 -36px;
    }

.visible {
    position: absolute;
    visibility: hidden;
    width: 0px;
    height: 0px;
}

#premio {
    color: #522278;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#aviso {
    color: #005B84;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#hora-fin-juego {
    color: #005B84;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 480px;
    position: absolute;
}
/*---nuevo-------*/
#hora-ini-juego {
    color: #005B84;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    padding-top: 8px;
    padding-left: 480px;
    position: absolute;
}
/*----------*/
#center-text-time {
    padding-left: 5px;
}

#center-text {
    float: left;
    margin-left: 190px;
}

/*cotejador*/
.datos_enunciado_cotejo_right {
    margin-left: 26px;
    margin-top: 70px;
    font-family: Arial;
    font-size: 11px;
    color: #0681bb;
    font-weight: bold;
}

.datos_enunciado_contenido_cotejo_right {
    font-family: Arial;
    font-size: 11px;
    color: #454545
}

.datos_enunciado_cotejo_left {
    margin-left: 250px;
    margin-top: 70px;
    font-family: Arial;
    font-size: 11px;
    color: #0681bb;
    font-weight: bold;
}

.cotejadores {
    font-family: Arial;
    margin-left: 26px;
    font-size: 11px;
    color: #454545
}

.datos_enunciado_contenido_cotejo_left {
    font-family: Arial;
    font-size: 11px;
    color: #454545
}

.datos_separador {
    margin-left: 26px;
    color: #f1831b;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    margin-left: 26px;
    margin-bottom: 5px;
}

.logo_ganadiario {
    margin-left: 26px;
    color: #306d20;
    font-family: Arial;
}

.calculo_premio {
    margin-left: 26px;
    margin-top: 3px;
    margin-bottom: 10px;
    color: #0681bb;
    font-family: Arial;
    font-size: 11px;
}

.table_ganadiario {
    font-family: Arial;
    font-size: 11px;
    width: 550px
}

.th_ganadiario {
    background-color: #fdfbc4;
    color: #542989;
    height: 11px;
    width: 50px;
    border-color: #a8a8a9
}

.td_ganadiario {
    color: #454545;
    height: 11px;
    text-align: center;
    border-color: #a8a8a9
}

.table_result_ganadiario {
    color: white;
    background-color: #0095da;
    height: 11px;
    border-bottom-color: #a8a8a9
}

.mensaje_ganadiario {
    font-family: Arial;
    font-size: 11px;
    color: #454545;
    margin-left: 26px;
}

.indicador_cotejo {
    margin-left: 26px;
    margin-top: 20px;
    font-family: Arial;
    font-size: 11px;
    color: #454545;
}

.cotejador {
    font-family: Arial;
    font-size: 11px;
    color: #454545
}


.pestania{
position: fixed; top: 335px;
 background: url(../../../layer-view-image/game/ganadiario/btn_coteja_gdiario.png) no-repeat scroll 0px 0px transparent; 
 height: 155px; 
 width: 33px;
 left: 42.6%;
 margin: 0px 0px 0px -392px;
}

/**Tinka Add On**/
.increases-your-prize {
    background: #F2F2F2;
    height: 61px;
    margin: 12px 0 0;
    padding: 7px 0 17px 6px;
}

.text-increment-1 {
    color: #818181;
    font-size: 11px;
    margin: 0;
}

.text-increment-2 {
    color: #818181;
    font-size: 10px;
    margin: 0;
}

.check-plus {
    display: block !important;
    margin: 0;
    position: relative;
    top: 17px;
}

.image-plus {
    bottom: 6px;
    left: 19px;
    position: relative;
}

.price-plus {
    bottom: 14px;
    color: #F78225;
    font-size: 12px;
    font-weight: bold;
    left: 29px;
    position: relative;
}

.font-cotejador-back {
    background-color: #FDF585;
    border-radius: 6px 6px 6px 6px;
    height: 56px;
    position: absolute;
    top: 343px;
    width: 565px;
	left: 28px;
	display:none;
    behavior: url(layer-view-script/common/PIE/PIE.htc)
}

.font-cotejador {
    background-color: #FDF585;
    border-radius: 6px 6px 6px 6px;
    height: 56px;
    position: absolute;
    top: 343px;
    width: 565px;
	left: 28px;
    behavior: url(layer-view-script/common/PIE/PIE.htc)
}

/*cotejador tinka*/
.logo_tinka_cotejador {
margin-bottom: 7px;
}

.number-textarea-button-cotejador{
padding: 5px 0 0 0;
border-top: 0;
border-left: 2px;
border-right: 2px;
border-bottom: 2px;
border-style: dotted;
border-color: #e0e0e0;
width: 275px;
height: 203px;
padding-top: 0;
}
.price-plus_cotejador {
    bottom: 14px;
    color: #F78225;
    font-size: 12px;
    font-weight: bold;
    left: 29px;
    position: relative;
    margin-left:-10px;
    top:2px;
}
.cotenedor_tinka_cotejador{
background: none repeat scroll 0% 0% #fcfbfb;
height: 482px;
width: 650px;
}
.right_flecha_cotejador {
    position: relative;
    width: 26px;
	left: 607px;
    top: -419px;
}
.star_play_cotejador{
margin-left: 27px;	
}
.kabala_fechas_cotejador{
color: #818181;
font-family: arial;
font-size: 11px;
position: relative;
top: -210px;
}

.validez_boleto_cotejador{
position: absolute;
bottom: 90px;
margin-left: 45px;
float: left;
}

.cont_opciones_cotejador{
bottom: 84px;
left: 140px;
position: absolute;
}

.check_chauChamba{
position: absolute;
left: 214px;
margin: -39px;	
}

.check_chauChamba_right{
position: absolute;
left: 500px;
margin: -39px;	
}

.flecha_back_cotejador{
background-image: url(../../../layer-view-image/game/tinka/btn_jugada_antes_off.png);
height: 22px;
width: 25px;
cursor: pointer;
display: none;
}

.validez_from_sorteo{
position: absolute;
bottom: 90px;
margin-left: 200px;
float: left;
}

.validez_to_sorteo{
position: absolute;
bottom: 90px;
margin-left: 455px;
float: left;
}

.cantFecha{
bottom: 84px;
left: 495px;
position: absolute;	
}


.increases-your-prize_cotejador{
background: #F2F2F2;
height: 61px;
margin: 12px 0 0;
padding: 7px 0 17px 6px;
height: 39px;
margin-top: 83px;
}

.attribute-button_cotejador{
background: #E9E6ED;
border: 1px solid #E9E6ED;
height: 14.5px;
width: 100px;
cursor: pointer;
position: absolute;
margin-top: 52px;
}

.attribute-button_cotejador:hover {
    background: #d6d0dd;
    border: 1px solid #d6d0dd;
    height: 14.5px;
	width: 100px;
	cursor: pointer;
	position: absolute;
	margin-top: 52px;
}

#award-ganadiario #primer-part input[type=checkbox]{
	display: none;
}

#award-ganadiario #primer-part .number-textarea-button {
    padding: 5px 0px 0px 0px;
    border-top: 0px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-style: dotted;
    border-color: #e0e0e0;
    width: 275px;
    height: 206px;
    padding-top: 0px;
}
#award-ganadiario .font-play{
	margin: 0;
}




/*Style ComboBox 2 - cotejo Tinka*/
div.selectBoxCotejo {
    position: relative;
    width: 48px;
    height: 18px;
    border: 1px solid #949494;
    background: #e4e4e2 url(../../../layer-view-image/common/flecha-combo.png) no-repeat 35px 8px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 10px;
    top: -2px;
    behavior: url(layer-view-script/common/PIE/PIE.htc);
}

div.selectBoxCotejo div.box {
    position: absolute;
    left: 6px;
    top: 1px;
    width: 48px;
    height: 18px;
    line-height: 17px;
    font-family: arial;
    font-size: 10px;
    color: #4e4e4d;
    overflow: hidden;
}

div.selectBoxCotejo select {
    background: #e4e4e2;
    width: 48px;
    height: 20px;
    font-size: 10px;
    border: 1px solid #949494;
    opacity: 0;
    filter: alpha(Opacity = 0);
    -moz-opacity: 0;
    cursor: pointer;
    font-size: 10px;
    z-index: 1;
    
}

div.selectBoxCotejo select option {
    font-size: 10px;
    color: #4e4e4d;
    border-bottom: 1px solid #e4e4e2;
    cursor: pointer;
}

div.selectBoxCotejo select option.ultimo {
    border-bottom: 0px none;
}


/* Style boton cotejador */
div.BotonCotejo {
    position: relative;
    width: 48px;
    height: 18px;
    border: 1px solid #949494;
    background: #e4e4e2 no-repeat 35px 8px;
    border-radius: 5px;
    font-family: Arial;
    font-size: 10px;
    top: -2px;
    behavior: url(layer-view-script/common/PIE/PIE.htc);
}
/*****/
.PortletContent{
	background: url(../../../layer-view-image/game/ganadiario/btn_coteja_gdiario.png) no-repeat scroll 0px 0px transparent;
    height: 156px;
    margin-left: -33px;
    position: fixed;
    top: 250px;
    width: 33px;
    cursor: pointer;
}
.align-img{
	margin-left: 4px;
}
.align-title{
	margin-top: 23px;
    position: absolute;
}
/***** imagenes de paso en PREMIOS *****/
.transition-one-award {
    background: #ffffff url(../../../layer-view-image/game/ganadiario/transition-one-award.png) no-repeat 7px;
    width: 425px;
    height: 23px;
    border-radius: 5px 5px 0 0;
    padding: 5px 7px 4px 0;
    margin: 65px 0 0 0;
}
.transition-two-award {
    background: #ffffff url(../../../layer-view-image/game/ganadiario/transition-two-award.png) no-repeat 7px;
    width: 425px;/*308px;*/
    height: 23px;
    border-radius: 5px 5px 0 0;
    padding: 5px 7px 4px 0;
    margin: 65px 0 0 0;
}
/*******/