body {
	background: rgb(197, 204, 211);
	font-family: Helvetica;
	padding: 0;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
}

/***** List (base) ******/
ul {
	list-style-type: none;
	color: black;
	font: bold 17px Helvetica;
	padding: 0;
	margin: 15px 10px 17px 0;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	list-style-type: none;
}

ul.listContent{
	border: 1px solid #B4B4B4;
}

/* FONDO DEL CONTENEDOR GENERAL DE LA PAGINA */
ul.listContentCuadro{
	background: #ffffff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d9d9d9) );
	background-image: -webkit-linear-gradient(#ffffff, #d9d9d9);
	background-image: -moz-linear-gradient(#ffffff, #d9d9d9);
	background-image: -ms-linear-gradient(#ffffff, #d9d9d9);
	background-image: -o-linear-gradient(#ffffff, #d9d9d9);
	background-image: linear-gradient(#ffffff, #d9d9d9);
}

/* FONDO DEL MENU INFERIOR */
ul.listContentMenu{
	background: #e1e2df;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e2df), to(#f1f1f0) );
	background-image: -webkit-linear-gradient(#e1e2df, #f1f1f0);
	background-image: -moz-linear-gradient(#e1e2df, #f1f1f0);
	background-image: -ms-linear-gradient(#e1e2df, #f1f1f0);
	background-image: -o-linear-gradient(#e1e2df, #f1f1f0);
	background-image: linear-gradient(#e1e2df, #f1f1f0);
}

/* universal arrows */
ul li.arrow {
	color: #666;
	border-top: 1px solid #B4B4B4;
	list-style-type: none;
	padding: 10px 10px 10px 10px;
	background-position: right center;
	background-repeat: no-repeat;
}

/* universal links on list */
ul li a,li.img a+a {
	color: #000;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	/*
	display: block;
	padding: 12px 10px 12px 10px;
	*/
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* standard mini-label */
ul li small {
	color: #369;
	font: 17px Helvetica;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 23%;
	float: right;
	padding: 3px 0px;
}

/* BARRA SUPERIOR INTRALOT */
.ui-bar-c {
	border: 1px solid #FA8F07;
	background: #FA8F07;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 1px 0 #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FA8F07), to(#FA8F07) );
	background-image: -webkit-linear-gradient(#FA8F07, #FA8F07);
	background-image: -moz-linear-gradient(#FA8F07, #FA8F07);
	background-image: -ms-linear-gradient(#FA8F07, #FA8F07);
	background-image: -o-linear-gradient(#FA8F07, #FA8F07);
	background-image: linear-gradient(#FA8F07, #FA8F07)
}

/* BARRA JUEGO */
.ui-bar-b {
	border: 1px solid #787878;
	background: #787878;
	color: #fff;
	font-weight: bold;
	text-shadow: 0 -1px 1px #254f7a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#5e5e5e) );
	background-image: -webkit-linear-gradient(#787878, #5e5e5e);
	background-image: -moz-linear-gradient(#787878, #5e5e5e);
	background-image: -ms-linear-gradient(#787878, #5e5e5e);
	background-image: -o-linear-gradient(#787878, #5e5e5e);
	background-image: linear-gradient(#787878, #5e5e5e)
}

/* FONDO DE PAGINA */
.ui-body-c,.ui-dialog.ui-overlay-c {
	border: 1px solid #b3b3b3;
	color: #333;
	text-shadow: none;/*0 1px 0 #fff;*/
	background: #FEA708;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FEA708), to(#FD5E01) );
	background-image: -webkit-linear-gradient(#FEA708, #FD5E01);
	background-image: -moz-linear-gradient(#FEA708, #FD5E01);
	background-image: -ms-linear-gradient(#FEA708, #FD5E01);
	background-image: -o-linear-gradient(#FEA708, #FD5E01);
	background-image: linear-gradient(#FEA708, #FD5E01)
}

/* BOTON 1 */
.ui-btn-up-d {
	background: #018def;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#018def), to(#0056bb) );
	background-image: -webkit-linear-gradient(#018def, #0056bb);
	background-image: -moz-linear-gradient(#018def, #0056bb);
	background-image: -ms-linear-gradient(#018def, #0056bb);
	background-image: -o-linear-gradient(#018def, #0056bb);
	background-image: linear-gradient(#018def, #0056bb);
    background: linear-gradient(#018def, #0056bb) repeat scroll 0 0 #2567AB;
    border: 0px solid #018def;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #018def;
}

/* BOTON 1 */
.ui-btn-hover-d {
	background: #018def;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#018def), to(#0056bb) );
	background-image: -webkit-linear-gradient(#018def, #0056bb);
	background-image: -moz-linear-gradient(#018def, #0056bb);
	background-image: -ms-linear-gradient(#018def, #0056bb);
	background-image: -o-linear-gradient(#018def, #0056bb);
	background-image: linear-gradient(#018def, #0056bb);
    background: linear-gradient(#018def, #0056bb) repeat scroll 0 0 #2567AB;
    border: 0px solid #018def;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #018def;
}

/* BOTON 2 */
.ui-btn-up-e{
	background: #c6140b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c6140b), to(#851311) );
	background-image: -webkit-linear-gradient(#c6140b, #851311);
	background-image: -moz-linear-gradient(#c6140b, #851311);
	background-image: -ms-linear-gradient(#c6140b, #851311);
	background-image: -o-linear-gradient(#c6140b, #851311);
	background-image: linear-gradient(#c6140b, #851311);
    background: linear-gradient(#c6140b, #851311) repeat scroll 0 0 #2567AB;
    border: 0px solid #c6140b;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #c6140b;
}

/* BOTON 2 */
.ui-btn-hover-e {
	background: #c6140b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c6140b), to(#851311) );
	background-image: -webkit-linear-gradient(#c6140b, #851311);
	background-image: -moz-linear-gradient(#c6140b, #851311);
	background-image: -ms-linear-gradient(#c6140b, #851311);
	background-image: -o-linear-gradient(#c6140b, #851311);
	background-image: linear-gradient(#c6140b, #851311);
    background: linear-gradient(#c6140b, #851311) repeat scroll 0 0 #2567AB;
    border: 0px solid #c6140b;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 -1px 1px #c6140b;
}

.interfaceClient{
	float: left; 
	display:block; 
	width: 80px;
}

.interfaceClient2{
	float: left; 
	display:block; 
	width: 105px;
}

